body {

    /* background-image: url("assets/images/logo2.jpg");
    background-size: cover;  */
    background: darkgray; 

}
.jumbotron {
    background-image: url("../images/umbrellas.png"); 
    background-size: cover; 
    height: 400px; 
}

.display-4 {
    color: white; 
    font-weight: bolder; 
}

.lead { 
    color: white; 
    font-weight: bolder; 
}

.btn-dark {
    justify-content: center; 
    margin: 10px; 
}

.container { 
    background: whitesmoke; 
    padding: 50px; 
    border: 10px;
    border-color: black; 
}

/* .col-md-1 { 
    background-image: url("../images/playingthegame.jpg"); 
    background-size: cover; 
} */

.countdown { 
    color: #2BAFE4; 
    align-content: center; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.question-display { 
    color:#93151c; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.image-correct, .image-incorrect, .image-timeout{ 
    display:none;
}

.image-correct img, .image-incorrect img, .image-timeout img{ 
    width: 200px; 
}

.answerButton { 
    /* color: #2bafe4; 
    border: #2bafe4;  */
    width: 200px; 
    margin: 10px; 
}

